/* Hallifornia Font, version 0_2b */

@font-face {
font-family: "hallifornia-font";
src: url('../fonts/hallifornia-font.eot');
src: url('../fonts/hallifornia-font.eot?#iefix') format('eot'),
	url('../fonts/hallifornia-font.woff') format('woff'),
	url('../fonts/hallifornia-font.ttf') format('truetype'),
	url('../fonts/hallifornia-font.svg#hallifornia-font') format('svg');
font-weight: normal;
font-style: normal;
}

.hf:before {
display: inline-block;
font-family: "hallifornia-font";
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.hf-lg {
font-size: 1.3333333333333333em;
line-height: 0.75em;
vertical-align: -15%;
}
.hf-2x { font-size: 2em; }
.hf-3x { font-size: 3em; }
.hf-4x { font-size: 4em; }
.hf-5x { font-size: 5em; }
.hf-fw {
width: 1.2857142857142858em;
text-align: center;
}

.hf-food-burger:before { content: "\21" }
.hf-food-water-bottle:before { content: "\22" }
.hf-food-hand-beer:before { content: "\23" }
.hf-food-barbeque:before { content: "\24" }
.hf-food-beer:before { content: "\25" }
.hf-food-icecream:before { content: "\26" }
.hf-food-pizza:before { content: "\27" }
.hf-person-man:before { content: "\31" }
.hf-person-man-2:before { content: "\32" }
.hf-person-man-3:before { content: "\33" }
.hf-person-man-4:before { content: "\34" }
.hf-person-woman:before { content: "\35" }
.hf-person-woman-2:before { content: "\36" }
.hf-person-woman-3:before { content: "\37" }
.hf-person-woman-4:before { content: "\38" }
.hf-logo-hallifornia:before { content: "\41" }
.hf-logo-nordic-surfers:before { content: "\42" }
.hf-activity-4x4:before { content: "\5B" }
.hf-activity-row:before { content: "\5C" }
.hf-activity-swim:before { content: "\5D" }
.hf-activity-water-scooter:before { content: "\5E" }
.hf-activity-wake-board:before { content: "\5F" }
.hf-activity-wake-board-2:before { content: "\60" }
.hf-activity-surf:before { content: "\61" }
.hf-activity-kite-surf:before { content: "\62" }
.hf-activity-wind-surf:before { content: "\63" }
.hf-activity-roller-blades:before { content: "\65" }
.hf-activity-dive:before { content: "\66" }
.hf-activity-surf-walk:before { content: "\67" }
.hf-activity-surf-walk-2:before { content: "\68" }
.hf-activity-skate:before { content: "\69" }
.hf-activity-swing:before { content: "\6A" }
.hf-activity-yoga:before { content: "\6B" }
.hf-activity-dance:before { content: "\6C" }
.hf-activity-longboard:before { content: "\6D" }
.hf-activity-sup:before { content: "\6E" }
.hf-activity-climbing:before { content: "\6F" }
.hf-activity-sup-yoga:before { content: "\70" }
.hf-activity-wind-cart:before { content: "\71" }
.hf-activity-kick-bike:before { content: "\72" }
.hf-activity-play:before { content: "\73" }
.hf-festival-tent-2:before { content: "\74" }
.hf-festival-accommodation:before { content: "\76" }
.hf-festival-dj:before { content: "\78" }
.hf-festival-dj-2:before { content: "\79" }
.hf-festival-spotlight:before { content: "\7A" }
.hf-festival-head-phone:before { content: "\7B" }
.hf-festival-speaker:before { content: "\7C" }
.hf-festival-ticket:before { content: "\7D" }
.hf-festival-vip:before { content: "\7E" }
.hf-festival-toilet:before { content: "\A1" }
.hf-festival-castle:before { content: "\A3" }
.hf-festival-caste-2:before { content: "\A4" }
.hf-festival-tent:before { content: "\A5" }
.hf-contact-email:before { content: "\C4" }
.hf-contact-heart:before { content: "\C5" }
.hf-contact-phone:before { content: "\D6" }
.hf-contact-twitter:before { content: "\E4" }
.hf-contact-facebook:before { content: "\E5" }
.hf-contact-instagram:before { content: "\F6" }
.hf-equipment-helmet:before { content: "\100" }
.hf-equipment-helmet-2:before { content: "\101" }
.hf-equipment-flip-flop:before { content: "\103" }
.hf-payment-credit-card:before { content: "\120" }
.hf-payment-swish:before { content: "\121" }
.hf-payment-wallet:before { content: "\122" }
.hf-payment-money:before { content: "\123" }
.hf-sign-hit:before { content: "\160" }
.hf-sign-stop:before { content: "\161" }
.hf-sign-point:before { content: "\162" }
.hf-sign-fight:before { content: "\163" }
.hf-sign-agree:before { content: "\164" }
.hf-sign-press:before { content: "\165" }