<!doctype html>
<html>
	<head>
		<title>Hallifornia Font</title>

		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
		<link rel="manifest" href="favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href="css/<%= fontName %>.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<style>
			body { padding: 0; margin: 0; background: #cecece; font-family: 'Oswald', sans-serif, verdana; }
			h1, h2 { margin: 0; padding: 0; font-family: 'Permanent Marker', cursive; }
			p { margin: 0; padding-top: 25px; padding-bottom: 25px; }
			a { text-decoration: none; color: #e0e0e0; }
			a:hover { color: #ef7521; border-bottom: 2px solid #ef7521; }
			small { font-size: 70%; }
			.content-container { text-align: center; max-width: 90%; margin: 0 auto; background: #eee; padding-top: 40px; }
			.page-section { position: fixed; background: rgba(51, 61, 71, 0.97); top: 0; left: 0; width: 100%; box-shadow: 0px 7px 20px 0px rgba(20,20,20,0.75); margin-bottom: 20px; }
			.icon-section { margin-top: 260px; }
			.icon-item { display: inline-block; width: 150px; text-align: center; background: #dcdcdc; margin: 0 8px 12px 0px; padding: 8px; border-radius: 8px; transition: 0.2s background linear; }
			.hf { color: #ef7521; }
			.icon-item:hover { background-color: #333d47; color: #f0f0f0; transition: 0.2s background linear; }
			.icon-item:hover .hf { color: #f0f0f0; }
			.icon-caption { font-size: 12px; padding: 6px 4px 6px 6px; }
			.primary-color { color: #e0e0e0; }
		</style>
	</head>
	<body>
		<div class="content-container">
			<div class="page-section">
			<p>
				<span class="primary-color hf hf-5x hf-logo-hallifornia"></span>
				<h3><a href="download/hallifornia_font_<%= version %>.zip">Download Hallifornia Font <small>v<%= version.replace('_', '.') %></small></a></h3>
			</p>
			</div>
			<div class="icon-section">
			<% _.each(glyphs, function(glyph) { %>
				<div class="icon-item">
					<span class="<%= className %> <%= className %>-4x <%= className %>-<%= glyph.name %>"></span>
					<div class="icon-caption">
						<div><strong>css:</strong> <%= glyph.name %></div>
						<div><strong>html:</strong> &amp;#<%= glyph.unicode[0].charCodeAt(0) %>;</div>
						<div><strong>character:</strong> &#<%= glyph.unicode[0].charCodeAt(0) %>;</div>
					</div>
				</div>
			<% }); %>
			</div>
		</div>
	</body>
</html>